<%- model_class = Article -%>
<div class="page-header text-center">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= render :partial => 'form' %>

<div>
<%= will_paginate @articles, :renderer => BootstrapPagination::Rails %>
</div>

<% @articles.each do |article| %>

<div class="article_list well">

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= article.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= article.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= article.created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><strong><%= article.title %></strong></dd>
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd><%= simple_format(auto_link_to(article.comment)) %></dd>
  <% if article.valid?  %>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= link_to(article.url,article.url,{:target=>"_blank"}) %></dd>
  <% end %>
  <% if article.photo.present? %>
  <dt><strong><%= model_class.human_attribute_name(:photo) %>:</strong></dt>
  <dd><%= image_tag(article.photo.url(:medium),:class=>"img-thumbnail") %></dd>
  <% end %>
</dl>
</div>

<% end %>


<div>
<%= will_paginate @articles, :renderer => BootstrapPagination::Rails %>
</div>
